.root {
     /*-fx-background-image: url("background.jpg");*/
     /*-fx-background-color: transparent;*/
}

#modal-dialog{
     -fx-background-color: linear-gradient(rgb(239,239,239) 0%, rgb(198,198,198) 100%);
     -fx-background-radius: 6;
     -fx-border-radius: 6;
     -fx-border-color:black;
     /*-fx-grid-lines-visible: true;*/
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 30px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
  -fx-font-size: 15px;
}